/* HTML Marker */
.cs_mapbridge .map_group .map_marker .ico{position:absolute;background:url(assets/img/ninewatt/dashboard/sp_mapbridge5.png) no-repeat;background-size:400px 450px;-webkit-background-size:400px 450px;z-index:10}
.customoverlay {text-align: center; width: 29px; height: 42px;}
.customoverlay .marker {height: 42px; padding-top:4px; background:url("assets/img/ninewatt/dashboard/map-marker.png") no-repeat; background-size: 29px 42px; -webkit-background-size: 29px 42px; z-index: 10; position: relative;}
.customoverlay .title{color: #6773e2; font-weight: bold;}
/* HTML Marker */