<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ninewatt.ems.analysis.mapper.AnalysisMapper">
    <select id="selectAnalysisTargetListForBasicUser" resultType="Map">
SELECT
    A.ismart_no AS "ismartId",
    B.site_name AS "siteName",
    C.latt AS "latt",
    C.lngt AS "lngt",
    C.scl_div AS "sclDiv",
    true AS "svcTgt"
FROM ems.ismart_bas A
INNER JOIN ems.total_info B ON A.ismart_no = B.cust_no
LEFT JOIN ems.school_bas C ON A.ismart_no = C.ismart_no
WHERE A.ismart_no = #{ismartId}
<choose>
    <when test="sclDiv==null || sclDiv.isEmpty() ">
        AND C.scl_div = null
    </when>
    <otherwise>
        AND C.scl_div in
        <foreach collection="sclDiv" item="item"  open="(" close=")" separator=",">
            #{item}
        </foreach>
    </otherwise>
</choose>

UNION

SELECT
    A.ismart_no AS "ismartId",
    B.site_name AS "siteName",
    C.latt AS "latt",
    C.lngt AS "lngt",
    C.scl_div AS "sclDiv",
    false AS "svcTgt"
FROM ems.ismart_bas A
         INNER JOIN ems.total_info B ON A.ismart_no = B.cust_no
         LEFT JOIN ems.school_bas C ON A.ismart_no = C.ismart_no
WHERE C.scl_div = (SELECT scl_div FROM ems.school_bas WHERE ismart_no = #{ismartId})
<choose>
    <when test="sclDiv==null || sclDiv.isEmpty() ">
        AND C.scl_div = null
    </when>
    <otherwise>
        AND C.scl_div in
        <foreach collection="sclDiv" item="item"  open="(" close=")" separator=",">
            #{item}
        </foreach>
    </otherwise>
</choose>
    </select>

    <select id="selectAnalysisTargetListForGroupUser" resultType="Map">
SELECT
    *
FROM (
         SELECT
             D.ismart_no AS "ismartId",
             CASE
                 WHEN E.site_name IS NOT NULL THEN E.site_name
                 ELSE F.user_id
                 END AS "siteName",
             D.latt AS "latt",
             D.lngt AS "lngt",
             D.scl_div AS "sclDiv",
             true AS "svcTgt"
         FROM ems.group_bas A
                  INNER JOIN ems.group_ismart_rel B ON B.group_no = A.group_no
                  INNER JOIN ems.group_user_rel C ON C.group_no = A.group_no
                  INNER JOIN ems.ismart_bas D ON D.ismart_no = B.ismart_id
                  LEFT JOIN ems.total_info E ON E.cust_no = B.ismart_id
                  LEFT JOIN ems.user_bas F ON F.ismart_id = B.ismart_id
         WHERE A.use_yn = 'Y'
            AND C.ismart_no = #{ismartId}
            AND F.user_id NOT LIKE '%test%'
            AND D.scl_div NOTNULL

            <choose>
                <when test="sclDiv==null || sclDiv.isEmpty() ">
                    AND D.scl_div = null
                </when>
                <otherwise>
                    AND D.scl_div in
                    <foreach collection="sclDiv" item="item"  open="(" close=")" separator=",">
                    #{item}
                    </foreach>
                </otherwise>
            </choose>
     ) AS AA
    </select>
    <select id="selectTargetDate" resultType="Map">
SELECT
    DISTINCT(A.end_month) AS "month"
FROM ems.cyber_kepco_cost A
       INNER JOIN ems.cyber_kepco_info B
         ON A.cust_no = B.cust_no AND B.end_month = A.end_month AND B.sel_cost = A.sel_cost
       LEFT JOIN ems.real_time_info C
         ON A.cust_no = C.cust_no AND mr_ym = A.end_month
       LEFT JOIN ems.cyber_kepco_cost_detail D
         ON A.cust_no = D.cust_no AND bill_ym = A.end_month AND D.sel_cost like '%'||A.sel_cost||'%'
WHERE A.end_month between TO_CHAR(NOW() - INTERVAL '6 MONTH', 'YYYYMM') and TO_CHAR(NOW(),'YYYYMM')
GROUP BY A.end_month
ORDER BY 1 DESC
    </select>

</mapper>
