<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ninewatt.ems.analysis.mapper.AnalysisMapper">
    <select id="selectAnalysisTargetList" resultType="Map">
SELECT
    *
FROM (
         SELECT
             D.ismart_no AS "ismartId",
             CASE
                 WHEN E.site_name IS NOT NULL THEN E.site_name
                 ELSE F.user_id
                 END AS "siteName",
             D.latt AS "latt",
             D.lngt AS "lngt",
             D.scl_div AS "sclDiv"
         FROM ems.group_bas A
                  INNER JOIN ems.group_ismart_rel B ON B.group_no = A.group_no
                  INNER JOIN ems.group_user_rel C ON C.group_no = A.group_no
                  INNER JOIN ems.ismart_bas D ON D.ismart_no = B.ismart_id
                  LEFT JOIN ems.total_info E ON E.cust_no = B.ismart_id
                  LEFT JOIN ems.user_bas F ON F.ismart_id = B.ismart_id
         WHERE A.use_yn = 'Y'
            AND C.ismart_no = #{ismartId}
            AND F.user_id NOT LIKE '%test%'
            AND D.scl_div NOTNULL

            <choose>
                <when test="sclDiv==null || sclDiv.isEmpty() ">
                    AND D.scl_div = null
                </when>
                <otherwise>
                    AND D.scl_div in
                    <foreach collection="sclDiv" item="item"  open="(" close=")" separator=",">
                    #{item}
                    </foreach>
                </otherwise>
            </choose>
     ) AS AA

    </select>

</mapper>
