<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ninewatt.ems.dashboard.mapper.DashboardMapper">
    <select id="selectDashboardHeaderSummary" resultType="Map">
SELECT
    DISTINCT(A.end_month),
            SUM(D.pwr_qty) AS "pwrQty",
            SUM(D.total_bill) AS "totalBill",
            SUM(C.max_power) AS "maxPower"
FROM ems.cyber_kepco_cost A
       INNER JOIN ems.cyber_kepco_info B
         ON A.cust_no = B.cust_no AND B.end_month = A.end_month AND B.sel_cost = A.sel_cost
       LEFT JOIN ems.real_time_info C
         ON A.cust_no = C.cust_no AND mr_ym = A.end_month
       LEFT JOIN ems.cyber_kepco_cost_detail D
         ON A.cust_no = D.cust_no AND bill_ym = A.end_month AND D.sel_cost like '%'||A.sel_cost||'%'
WHERE A.end_month between '201810' and #{tgtDate}

        <choose>
            <when test="ismartList==null || ismartList.isEmpty()">
                AND A.cust_no = null
            </when>
            <otherwise>
                AND A.cust_no in
                <foreach item="item" open="(" separator="," close=")" collection="ismartList">
                    #{item.ismartId}
                </foreach>
            </otherwise>
        </choose>
GROUP BY A.end_month
ORDER BY 1 desc

    </select>

</mapper>
