<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ninewatt.ems.schoolData.mapper.SchoolDataMapper">

    <select id="selectTotalBillPerClass" resultType="Map">
SELECT
    A.ismart_no AS "ismartId",
    D.site_name AS "siteName",
    ROUND(C.total_bill/E.class_cnt) AS "value",
    E.scl_div AS "sclDiv"
FROM ems.ismart_bas A
INNER JOIN ems.school_bas E
    ON A.ismart_no = E.ismart_no
INNER JOIN ems.total_info D
    ON A.ismart_no = D.cust_no
LEFT JOIN ems.cyber_kepco_info B
    ON A.ismart_no = B.cust_no
LEFT JOIN ems.cyber_kepco_cost C
    ON A.ismart_no = C.cust_no
    AND C.sel_cost = B.sel_cost
WHERE B.end_month = #{tgtDate}
  AND B.end_month = C.end_month
<choose>
    <when test="ismartList==null || ismartList.isEmpty()">
        AND A.ismart_no = null
    </when>
    <otherwise>
        AND A.ismart_no in
        <foreach item="item" open="(" separator="," close=")" collection="ismartList">
            #{item.ismartId}
        </foreach>
    </otherwise>
</choose>
ORDER BY 2 desc
    </select>

    <select id="selectTotalBillByStudent" resultType="Map">
SELECT
    A.ismart_no AS "ismartId",
    D.site_name AS "siteName",
    C.total_bill AS "columnValue",
    E.student_cnt AS "lineValue",
    E.scl_div AS "sclDiv"
FROM ems.ismart_bas A
INNER JOIN ems.school_bas E
    ON A.ismart_no = E.ismart_no
INNER JOIN ems.total_info D
    ON A.ismart_no = D.cust_no
LEFT JOIN ems.cyber_kepco_info B
    ON A.ismart_no = B.cust_no
LEFT JOIN ems.cyber_kepco_cost C
    ON A.ismart_no = C.cust_no
    AND C.sel_cost = B.sel_cost
WHERE B.end_month = #{tgtDate}
  AND B.end_month = C.end_month
<choose>
    <when test="ismartList==null || ismartList.isEmpty()">
        AND A.ismart_no = null
    </when>
    <otherwise>
        AND A.ismart_no in
        <foreach item="item" open="(" separator="," close=")" collection="ismartList">
            #{item.ismartId}
        </foreach>
    </otherwise>
</choose>
ORDER BY 2 desc
    </select>

    <select id="selectTotalBillBySexRatio" resultType="Map">
SELECT
    A.ismart_no AS "ismartId",
    D.site_name AS "siteName",
    C.total_bill AS "totalBill",
    FLOOR(C.total_bill * (E.boy_cnt / E.student_cnt)) AS "boyBill",
    FLOOR(C.total_bill * (E.girl_cnt / E.student_cnt)) AS "girlBill",
    E.scl_div AS "sclDiv"
FROM ems.ismart_bas A
INNER JOIN ems.school_bas E
    ON A.ismart_no = E.ismart_no
INNER JOIN ems.total_info D
    ON A.ismart_no = D.cust_no
LEFT JOIN ems.cyber_kepco_info B
    ON A.ismart_no = B.cust_no
LEFT JOIN ems.cyber_kepco_cost C
    ON A.ismart_no = C.cust_no
    AND C.sel_cost = B.sel_cost
WHERE B.end_month = #{tgtDate}
  AND B.end_month = C.end_month
<choose>
    <when test="ismartList==null || ismartList.isEmpty()">
        AND A.ismart_no = null
    </when>
    <otherwise>
        AND A.ismart_no in
        <foreach item="item" open="(" separator="," close=")" collection="ismartList">
            #{item.ismartId}
        </foreach>
    </otherwise>
</choose>
ORDER BY 2 desc
    </select>


    <select id="selectSexRatio" resultType="Map">
SELECT
    A.ismart_no AS "ismartId",
    B.site_name AS "siteName",
    C.boy_cnt * -1 AS "boyCnt",
    C.girl_cnt AS "girlCnt",
    C.student_cnt,
    C.scl_div AS "sclDiv"
FROM ems.ismart_bas AS A
INNER JOIN ems.total_info AS B ON A.ismart_no = B.cust_no
INNER JOIN ems.school_bas AS C ON A.ismart_no = C.ismart_no
<choose>
    <when test="ismartList==null || ismartList.isEmpty()">
        WHERE A.ismart_no = null
    </when>
    <otherwise>
        WHERE A.ismart_no IN
        <foreach item="item" open="(" separator="," close=")" collection="ismartList">
            #{item.ismartId}
        </foreach>
    </otherwise>
</choose>
ORDER BY student_cnt
    </select>

    <select id="selectTotalBillByArea" resultType="Map">
SELECT
    A.ismart_no AS "ismartId",
    D.site_name AS "siteName",
    C.total_bill AS "totalBill",
    E.scl_area AS "sclArea",
    E.scl_div AS "sclDiv"
FROM ems.ismart_bas A
    INNER JOIN ems.school_bas E
        ON A.ismart_no = E.ismart_no
    INNER JOIN ems.total_info D
        ON A.ismart_no = D.cust_no
    LEFT JOIN ems.cyber_kepco_info B
        ON A.ismart_no = B.cust_no
    LEFT JOIN ems.cyber_kepco_cost C
        ON A.ismart_no = C.cust_no
    AND C.sel_cost = B.sel_cost
WHERE B.end_month = #{tgtDate}
    AND B.end_month = C.end_month
<choose>
    <when test="ismartList==null || ismartList.isEmpty()">
        AND A.ismart_no = null
    </when>
    <otherwise>
        AND A.ismart_no in
        <foreach item="item" open="(" separator="," close=")" collection="ismartList">
            #{item.ismartId}
        </foreach>
    </otherwise>
</choose>
ORDER BY 2 desc
    </select>
</mapper>
